.checkmark{
    background-image: url(check.svg);
    width: 2rem;
    height: 2rem;
    background-size: 100% auto;
}
.versionText {
    position: fixed;
    bottom: 0;
    right: 0;
    color: grey;
    font-size: 0.8em;
    user-select: none;
}
label,span{
    user-select: none;
}